.navBar{
    width: 100%; 
    background-color: black;
}

.logoEmpresa{
    width: 100%;
    color: aqua;
    font-style: oblique;
    font-size: 60px;
    text-align: center;
    padding: 15px;
}

.barraNavegacion{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

.contenedorPagina{
    list-style-type: none;
}

.hrefNav{
    text-decoration: none;
    color: rgb(14, 206, 148);
    font-size: 20px;
}

.hrefNav:hover {
    color: rgba(255, 251, 0, 0.918);
}
